{% extends 'base.html' %} 

{% block title %}Add Feedback{% endblock %} 

{% block content %} 
<h1>Add Some Feedback</h1>

<form action="/users/{{ user.id }}/feedback/add", method="post">
    {{ form.hidden_tag() }} 

    {% for field in form 
                        if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
            {{ field }} 

            {% for error in field.errors %} 
                {{ error }} 
            {% endfor %} 
        </p>
    
    {% endfor %}

    <button>Submit</button>
</form>

<a href="/users/{{ user.id }}"><button>Go Back</button></a>
{% endblock %}